<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>

    <script>
        let time = {{ quiz.time_limit }} * 60;

        function startTimer() {
            let timer = setInterval(function () {
                let minutes = Math.floor(time / 60);
                let seconds = time % 60;

                document.getElementById("timer").innerHTML =
                    minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

                time--;

                if (time < 0) {
                    clearInterval(timer);
                    document.getElementById("quizForm").submit();
                }
            }, 1000);
        }
    </script>
</head>

<body onload="startTimer()">

<h2>{{ quiz.title }}</h2>
<h3>Time Left: <span id="timer"></span></h3>

<form method="post" id="quizForm">
    {% csrf_token %}

    {% for q in questions %}
        <p><b>{{ q.question_text }}</b></p>

        <input type="radio" name="{{ q.id }}" value="1"> {{ q.option1 }} <br>
        <input type="radio" name="{{ q.id }}" value="2"> {{ q.option2 }} <br>
        <input type="radio" name="{{ q.id }}" value="3"> {{ q.option3 }} <br>
        <input type="radio" name="{{ q.id }}" value="4"> {{ q.option4 }} <br>
        <hr>
    {% endfor %}

    <button type="submit">Submit</button>
</form>

</body>
</html>
